.task__date {
    margin-right: 0.5em;
    animation: fadeinout 5s linear infinite;
    opacity: 0;
    color: #007bff;
}

.task__text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@keyframes fadeinout {
    50% { opacity: 1; }
}

@-webkit-keyframes fadeinout {
    50% { opacity: 1; }
}